
.bread{
    padding: 7px;
    list-style: none;
    margin-left: 150px;
    height: 30px;
    }
   
    
  .breadcrumb-item{
    display: inline;
    margin: 0 auto;
    font-size: 13px;
    }
  
  .bread li+li:before{
        padding: 5px;
        color: black;
        content: ">>";
      }
  
  .breadcrumb-item a{
    color: #2e4053;
    text-decoration: none;
  }
  
  .breadcrumb-item a:hover{
    color: yellow;
  }

  .start{
    font-family: "Noto Sans JP"; 
    color: #ffffff;
    background-color: #000000;
    background-position: center center;
    width: 83%; 
    margin: 0 auto;
    font-size: 30px; 
    border-radius: 3px; 
    text-shadow: 0.5px 0.5px #f6d405;
    text-align: center; 
  }

  .two{
    font-family: "Noto Sans JP"; 
    width: 63%; 
    margin: 0 auto;
    margin-top: 10px; 
    font-size: 18px; 
  }

  .paragraph{
    font-family: "Noto Sans JP"; 
    width: 50%; 
    margin: 0 auto;
    padding-top: 20px; 
    font-size: 18px; 
    display: inline-block; 
    float: left;
    margin-left: 200px;
  }
  mark {
    background: linear-gradient(transparent 70%, #f6d405 70%);
  }

  .under{
    border-bottom: solid 10px #ffa000;
  }

  .two{
    font-family: "Noto Sans JP"; 
    width: 47%; 
    margin: 0 auto;
    margin-top: 10px; 
    font-size: 18px; 
    text-indent: 1em;
  }

  .timeline .line .linebar{
    background: #4EC4D3 !important;
  }

  .timeline .line .linebar:hover {
    background: #f6d405 !important;
  }

  .event-sub-modal .border .double{
    background:#fff !important;
    height: 109% !important;

  }

  .event-modal .event0, 
  .event-modal .event1,
  .event-modal .event2,
  .event-modal .event3,
  .event-modal .event4,
  .event-modal .event5,
  .event-modal .event6,
  .event-modal .event7,
  .event-modal .event8,
  .event-modal .event9,
  .event-modal .linebar{
    background: #4EC4D3 !important;
  }

  .event-modal {
    border: solid 5px #00bfff;
  }

  .event-modal .linebar{
    height: 4px !important;
    background: #191970 !important;
  }

  .event-modal .linebar:after{
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 20px;
    background: #191970;
    left: 0;
    top: -8px;
  }
  .event-modal .linebar:before{
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 20px;
    background: #191970;
    right: 0;
    top: -8px;
  }

  /* .timeline{
    position: relative;
  }
  .timeline .lastLine{
    height: 4px !important;
  }

  .timeline .lastLine:after{
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: #4EC4D3;
    left: 0;
    top: -8px;
    border-radius: 100px;
  }

  .timeline .lastLine:before{
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: #4EC4D3;
    right: 0;
    top: -8px;
    border-radius: 100px;
  } */