
.bread{
    padding: 7px;
    list-style: none;
    margin-left: 150px;
    height: 30px;
    }
   
    
  .breadcrumb-item{
    display: inline;
    margin: 0 auto;
    font-size: 13px;
    }
  
  .bread li+li:before{
        padding: 5px;
        color: black;
        content: ">>";
      }
  
  .breadcrumb-item a{
    color: #2e4053;
    text-decoration: none;
  }
  
  .breadcrumb-item a:hover{
    color: yellow;
  }

  .start{
    font-family: "Noto Sans JP"; 
    color: #ffffff;
    background-color: #000000;
    background-position: center center;
    width: 73%; 
    margin: 0 auto;
    font-size: 30px; 
    border-radius: 3px; 
    text-shadow: 0.5px 0.5px #f6d405;
    text-align: center; 
  }

  .two{
    font-family: "Noto Sans JP"; 
    width: 68%; 
    margin: 0 auto;
    margin-top: 10px; 
    font-size: 18px; 
  }

  .paragraph{
    font-family: "Noto Sans JP"; 
    width: 50%; 
    margin: 0 auto;
    padding-top: 20px; 
    font-size: 18px; 
    display: inline-block; 
    float: left;
    margin-left: 200px;
  }